@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body {
    font-family: 'Pretendard', sans-serif;
    background-image: url('4_background.png'); /* 배경 이미지 경로 */
    background-position: center;
    background-attachment: fixed; /* 배경 고정 */
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%; /* 화면 너비의 80%로 설정 */
    max-width: 1200px; /* 최대 너비 1200px로 설정 */
    margin: 210px; /* 좌우 여백을 자동으로 설정하여 중앙 정렬 */
    padding: 50px; /* 내부 여백 */
    color: white;
  }
  
  h1, p {
    text-align: center;
  }
  
  .content {
    padding-top: 60px; /* 배경 위로 콘텐츠가 올라오도록 간격 설정 */
  }
  
