/* 사이드바 스타일(디자인은 임시) */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333; /* 어두운 배경색 */
    color: white;
    padding-top: 20px;
    z-index: 1000;
    overflow-y: auto;        /* 다른 콘텐츠보다 앞에 오도록 설정 */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
    text-align: center;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .sidebar ul li a:hover {
    background-color: #575757; /* 마우스 올릴 때 배경색 변경 */
  }