.center-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f7f7f7;
  padding-top: 100px;
}

h1 {
  font-size: 2.5em;
}

a {
	text-decoration: none;
	color: #007bff;
	font-weight: bold;
}

a:hover{
	text-decoration: underline;
	color: #0056b3;
}

#trash-definition {
  font-weight: bold;
  transition: color 0.5s ease-in-out;
}